*{box-sizing:border-box;}
html{scroll-behavior: smooth;}

body::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgb(153,224,246);
    border-radius: 5px
}
body::-webkit-scrollbar-track {
    width: 6px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}


.navbar-brand img{width: 100%; height: auto}
li.nav-item:nth-child(4){width: 20%; padding: 0}


.landing{width: 100vw; padding: 0vh 5vw; position: relative; margin-top: 50px; }
.landing .vidwrap{width: 70vw; display: flex; justify-content: center; align-items:center; margin: auto; padding: 0 20px;}
.landing video{ width: 100%; height: auto; }
.landingwrap{position: absolute; height: 100%; width: 100vw; background: rgba(0,0,0,0.7); top: 0; left: 0; overflow-x:hidden; }
.landingcontent{position: absolute; height: 100%; width: 100vw; top: 0; left: 0;}
.fixedheaders{top:100px; width: 99%; margin: auto; height: 40vh; font-size: 3.5em; font-family: montserrat; font-weight: 700; color: rgb(255,255,255); perspecitve: 20px; -webkit-perspective: 20px; display: flex; justify-content: center; align-items: center; transform: translate(0,15%);}
.fixedheader{ transform-style: preserve-3d; translation: 0.3s; -webkit-transform-style: preserve-3d; transform: scale(1.4); position: absolute; top: 0; transition: 0.3s;}
.fixedheaders .headers{display: inline-block;}
.register{color: white; position: absolute; top:70%; right: 0; padding: 0px; width: 35vw; font-size: 14px; font-family: montserrat;}
.register input{width: 70%; margin-right: 0; background: rgb(67,83,255); border: 0px solid white; font-family: montserrat; color: white; padding: 20px 20px}
.register button{width: 15%; margin-left: 0; background: rgba(67,83,255,0.8); text-align: center; border: 0px solid white ; color: white; padding: 20px 15px}
.register input::placeholder{ color: white}
.register h2{margin-bottom: 20px}
.Highlight{position: fixed; padding-top: 10px; top: 42px; left: 10px; z-index: 2; transition: color left 0.3s; color: rgba(255,255,255,0.3); height: 40vh; background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0));}
.selected{color: rgba(255,255,255,1);}
.shift1{ transform: scale(1.4) translate(-240px, 0); }
.shift2{ transform: scale(1.4) translate(-500px, 0); }
.shift3{ transform: scale(1.4) translate(-1000px, 0); }
.cp4{background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
/* NAVIGATION */
nav {
  background: #000;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #000;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px 0px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #8u653e;
}


li.nav-item:nth-child(4) {
  width: 20%;
  padding: 0
}



.eventswrapper::-webkit-scrollbar {
    width: 1px;
    height: 0px;
    background-color: grey;
}
.eventswrapper::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: rgb(255,255,255,1);
    border-radius: 1px;
}
.eventswrapper::-webkit-scrollbar-track {
    width: 2px;
    background-color: grey;
    border-radius: 1px;
}
table{width: 100%;}
tbody tr:hover{background:#FFF; color: #000;}
thead th{text-align: center; font-size: 1.4em; padding:40px;}
table:nth-child(1) th{padding-top: 0;}


.speakerinfo{float: left; position: sticky; top:50vh; width: 40%; margin: auto; transition: 0.3s;}
.speakerheading div{display: inline-block; margin-right: 10px; font-family: montserrat; font-size: 0.6em;}
.speakerhr{background: rgba(255,255,255,0); clear: both}
.speakerpic .col-6{ margin: 20px 0; padding: 0 10px; overflow: hidden; margin-bottom: 0;}
.speakerpic .speakerwrapper .image{width: 100%; height: 100%; display: flex; align-items: center; justify-content:center}
.speakerpic .speakerwrapper img{width: auto; height:100%}
.links{width: 100%; height: 100%; position: absolute; left: -100%; top: 0; background: rgba(255,255,255,0.9); color: #000; transition: 0.3s; display: flex; justify-content:center; align-items: center;}
.links>div{width: 70%; text-align: center; font-family: quicksand}
.col-6:hover .links{left:0; }
#speakers .linkhr{background: rgb(0,0,0)}
.speakerinfomoveup{top: 35vh;}


.gallery-wrapper{height: 100%}
.gallery-img-wrapper{overflow: hidden; margin: 0 10px; display: flex; align-items:center; justify-content:center;}


#partners{margin: 0; background: #FFF; width: 100%; padding: 25px 0;}
#partners .col-12{padding: 20px; margin: 10px auto; display: flex; align-items:center; justify-content:center;}
#partners .col-12 img:hover{transform: scale(1.2);}
#partners .row{width: 95vw; margin: auto}


#contact{background: #FFF;  width: 100%;}
#contact h1{font-weight: 700; font-size: 2.5em; font-family: poppins;}
#contact .social{text-align: center; font-size: 2.2em;}
.contact p{font-family: questrial; font-size: 20px}
#contact p i{font-size: 1.5em;}




@media screen and (min-width: 992px){
    body{ background: #000; overflow-x: hidden}
    body, html{width: 100%;}
	.mobile{display: none}
	.desktop{display: block}
	.navbar-brand{width: 100%;}
	a.nav-link{color: rgba(255,255,255,1); font-family: poppins; font-weight: 700; padding: 0 40px;}
	li.nav-item{margin: auto;}
	a.nav-link:link{color: rgba(255,255,255,1);}
	a.nav-link:hover{color: rgba(255,255,255,1);}
    .updates {font-family: questrial; padding:10px; background: rgb(255,255,255); display: inline-block; margin: 0px 50px }
    .updates .new{margin-right: 10px}
    .updates .update{color:rgb(96,109,255); margin-left: 0px}
    .About{color: white; position: absolute; top: 70%; padding-left: 75px; width: 88vw; font-size: 15px; font-family: montserrat; line-height: 22px}
    .About h1{margin-bottom: 17px;}
    .About p{color: rgba(255,255,255,0.8); font-size: 1.1em}
    .eventheading{font-family: poppins; padding: 0px 6vw; margin-top: 250px; color: #FFF; font-size: 2em}
    .eventswrapper{height: 60vh; font-family: montserrat; color: #FFF; width: 95vw; padding: 0 4vw; margin: auto; overflow-y: scroll}
    td{width: 30%; padding: 10px; margin: auto; text-align: center}
    .selectedspeaker{color:white; font-size: 2.8em}
    .speakerheading{font-family: poppins; font-weight: 700; text-align: center; transition: 0.3s; font-size: 2.5em; color: rgba(255,255,255,0.5); padding: 20px 0; }
    #speakers{margin-top: 250px; padding: 0 6vw; padding-right: 3vw; position: relative;}
    .speakerpic{display: inline-block; width: 60%; float: right}
    .speakerpic .speakerwrapper{overflow: hidden; height: 65vh; position: relative;}
    #gallery{margin-top: 300px; font-family: poppins; width: 100%; color: #FFF; padding:0 5vw; font-size: 2em; overflow: hiddens; background-image:linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.25), rgba(255,255,255,0.5), rgba(255,255,255,0.75), rgba(255,255,255,1));}
    .gallery-img-wrapper img{height: 70vh; width: auto}
    #gallery h1{margin-bottom: 30px }
    #partners h1{padding:150px 5vw 20px 5vw; font-family: poppins; font-weight: 700; color: #000; font-size: 2.5em}
    #partners img{width: auto; height: 15vh; transition: 0.4s;}
    .speakerpic .speakerwrapper .image{width: 78%; height: 73%; display: flex; align-items: center; justify-content:center}
    .speakerpic .speakerwrapper img{width: auto; height:100%}
    .links{width: 82.5%; height: 73%; position: absolute; left: -100%; top: 0; background: rgba(255,255,255,0.9); color: #000; transition: 0.3s; display: flex; justify-content:center; align-items: center;}


}


@media screen and (max-width: 991px){
    body{ background: #000; padding:0; margin: 0; width: 100%}
	.mobile{display: block}
	.desktop{display: none}
	.navbar-brand{width: 30%;}
	li.nav-item:nth-child(1){padding-top: 50px;}
	a.nav-link{color: rgba(255,255,255,1); padding: 25px 40px; padding-left: 15px; font-family: poppins; font-weight: 700}
	li.nav-item{width: 100%;}
	a.nav-link:link{color: rgba(255,255,255,1); font-size: 1.3em}
	a.nav-link:hover{color: rgba(255,255,255,1);}
    .updates {font-family: questrial; padding:10px; background: rgb(255,255,255); display: inline-block; margin: 40px 4% }
    .updates .new{margin-right: 10px}
    .updates .update{color:rgb(96,109,255); margin-left: 0px}
    .About{color: white; padding: 10px; width: 95vw; margin: auto; font-size: 16px; font-family: montserrat; line-height: 22px; margin-top: 50px}
    .About h1{margin-bottom: 30px; font-family: quicksand}
    .About p{color: rgba(255,255,255,0.8); font-size: 1.1em}
    .fixedheaderphone{font-size: 25px; text-align: center; color: #FFF; margin-bottom: 10px}
    .headingsphone{height: 45vh; background: url('../images/WhatsApp Image 2019-07-10 at 10.44.55 AM.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center}
    .landingwrapperphone{background: rgba(0,0,0,0.2); height: 100%; display: flex; justify-content: center; align-items: center;}
    .eventheading{font-family: poppins; padding: 0px 20px; margin-top: 50px; color: #FFF; font-size: 2em}
    .eventswrapper{height: 60vh; font-family: montserrat; color: #FFF; width: 95vw; padding: 0 4vw; margin: auto; overflow-y: scroll}
    td{width: 30%; padding: 20px 0px; margin: auto; text-align: center}
    .eventswrapper{padding: 0;}
    .speakerheading{font-family: poppins; font-weight: 700; transition: 0.3s; text-align: center; font-size: 2.5em; color: rgba(255,255,255,0.5); padding: 20px 0; }
    #speakersmobile{margin-top: 100px; padding: 0 0vw; position: relative;}
    .speakerpic{display: inline-block; width: 100vw; margin: auto}
    .speakerpic .speakerwrapper{overflow: hidden; height: 45vh; position: relative;}
    .selectedspeakermobile{color:white; font-size: 2.8em}
    #gallery{margin-top: 150px; font-family: poppins; width: 100%; color: #FFF; padding:0 5vw; font-size: 2em; overflow: hiddens; background-image:linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.25), rgba(255,255,255,0.5), rgba(255,255,255,0.75), rgba(255,255,255,1));}
    .gallery-img-wrapper img{height: 40vh; width: auto}
    #gallery h1{margin-bottom: 30px ; font-size: 1.5em; text-align: center; font-family: poppins; font-weight: 700}
    #partners h1{padding:150px 5vw 20px 5vw; font-family: poppins; font-weight: 700; color: #000; font-size: 3em; text-align: center}
    #partners img{width: 80%; height: auto; transition: 0.4s;}
    iframe{width:100%;}

}
p {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
}

a {
  color: #19aee9;
  text-decoration: underline;
}

a:hover {
  color: #ff8735;
}

.text-logo {
  margin-top: -1px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 37px;
}

.body {
  height: 100%;
  background-color: #000;
  font-family: Lato, sans-serif;
}


.section {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: #fff;
}

.section.tint {
  background-color: #efefef;
}

.section.color {
  padding-bottom: 80px;
  background-color: #34c48b;
  color: #fff;
}


.section.intro-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.section.bottom-section {
  padding-bottom: 100px;
}

.section.logo-section {
  padding-top: 45px;
  padding-bottom: 25px;
  background-color: #34c48b;
}

.section.contact-section {
  position: relative;
  z-index: 10;
  height: 580px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
}




.container.home-intro-container {
  position: relative;
  top: -50px;
  z-index: 10;
}

.container.centered {
  text-align: center;
}

.container.item-header {
  margin-top: 55px;
  margin-bottom: 65px;
}

.home-intro-section {
  height: 13%;
  background-color: #000;
}

.home-intro {
  position: relative;
  overflow: hidden;
  height: 105px;
  padding-right: 170px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .16);
}

.intro-column {
  height: 100%;
}

.intro-info {
  position: relative;
  height: 100%;
  padding-top: 36px;
  padding-left: 110px;
}

.intro-icon-1 {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 60px;
  height: 60px;
  padding-top: 13px;
  border: 3px solid #d0d0d0;
  border-radius: 100%;
  text-align: center;
}

.intro-info-title {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 19px;
  font-weight: 700;
}

.intro-info-title.subtitle {
  color: #b5b5b5;
  font-size: 13px;
  font-weight: 400;
}

.intro-icon {
  height: 24px;
}

.intro-row {
  height: 100%;
}


.section-title {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}

.section-title.sub {
  margin-bottom: 0px;
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}

.section-title.small {
  font-size: 26px;
  line-height: 25px;
}

.section-title-wrapper {
  margin-bottom: 40px;
  text-align: left;
}

.section-title-wrapper.centered {
  text-align: center;
}

.section-title-wrapper.intro {
  margin-bottom: 0px;
}


.intro-column-title {
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro-section-column {
  text-align: center;
}

.icon-block {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 17px;
  border: 3px solid #24a572;
  border-radius: 100%;
  background-color: #34c48b;
}

.icon-block.color {
  border-color: #dd6e24;
  background-color: #ff8735;
}

.icon {
  height: 30px;
}


.footer {
  padding-top: 90px;
  background-color: #353535;
  color: #b8b8b8;
}



.footer-title {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}


.column-intro-title {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}



.sidebar-content-block {
  padding: 25px 25px 15px;
  border-bottom: 1px solid #dbdbdb;
}

.sidebar-content-block.last {
  border-bottom: 1px none #000;
}

.sidebar-title {
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar-title.subtitle {
  margin-bottom: 5px;
  color: #34c48b;
}

.contact-form {
  height: 580px;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 90px;
  padding-left: 0px;
}

.field {
  height: 50px;
  margin-bottom: 3px;
  border: 2px solid #e7e7e7;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
}

.field:hover {
  border-color: #bababa;
}

.field:focus {
  border-color: #34c48b;
}

.field.area {
  height: 170px;
  padding-top: 12px;
}

.contact-sidebar-block {
  height: 580px;
  padding-top: 94px;
  padding-bottom: 90px;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}




@media (max-width: 767px) {
  .text-logo {
    margin-top: 13px;
    margin-left: 15px;
  }
  
  }
  .slide-title {
    font-size: 22px;
    line-height: 25px;
  }
  .slide-title.subtitle {
    font-size: 13px;
    line-height: 20px;
  }
  
  .section {
    padding: 25px;
  }
  .section.tint {
    padding-bottom: 45px;
  }
  .section.color {
    padding-bottom: 25px;
  }
  .section.color.team-page {
    padding-bottom: 65px;
  }
  .section.intro-section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section.bottom-section {
    padding-bottom: 70px;
  }
  .section.contact-section {
    height: auto;
    padding-bottom: 25px;
  }
  .section.blog-post-page {
    padding-top: 25px;
    padding-bottom: 75px;
  }
  .section.last {
    padding-bottom: 65px;
  }
  .container.home-intro-container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .container.item-header {
    margin-bottom: 0px;
  }
  .home-intro-section {
    height: 90px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .home-intro {
    height: auto;
    padding-right: 0px;
  }
  .intro-column {
    height: auto;
    padding-left: 0px;
  }
  .intro-info {
    height: auto;
    padding: 15px;
    text-align: center;
  }
  .intro-icon-1 {
    position: static;
    display: inline-block;
  }
  .intro-info-title {
    font-size: 16px;
  }
  .intro-info-title.subtitle {
    font-size: 12px;
    line-height: 16px;
  }
  
  .sidebar-col-right {
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .sidebar-content-block {
    border-top: 1px solid #dbdbdb;
    border-bottom-width: 0px;
    border-bottom-color: #000;
  }
  .sidebar-content-block.contact-last {
    border-bottom-width: 1px;
    border-bottom-color: #dbdbdb;
  }
  .contact-form {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .contact-sidebar-block {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .sidebar-block {
    margin-top: 0px;
  }
 
}




















